* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif;
}

.main-view {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}

.create-chance-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-right: 24px;
    box-shadow: rgb(67 90 111 / 30%) 0px 0px 1px, rgb(67 90 111 / 47%) 0px 2px 4px -2px;
    box-sizing: border-box;
    border-radius: .375rem;
    width: 500px;
}

.create-chance-form p,
.created-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #101840;

    padding-bottom: 24px;

}

input,
textarea {
    appearance: none;
    border-radius: 0;
    background-color: #F8F9FA;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #575757;
    ;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.wrapper {
    padding-bottom: 12px;
}

.text-form {
    padding: 8px 16px;
    height: 64px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    border-radius: .375rem;
}

.name-sex {
    display: flex;
}

.wrapper-1 {
    margin-right: 12px;
}

.text-form.name {
    width: 303px;
}

.text-form.picker {
    padding: 8px 8px 8px 4px;
    width:100%;
}

.text-form.picker label {
    padding-left: 12px;
}

.text-form.picker.service {
    padding: 14px 16px 14px 4px;
}

.text-form.note {
    height: 236px;
}

.text-form.note textarea {
    resize: none;
}

.wrapper.button {
    height: 32px;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.wrapper.button button {
    padding: 0px 16px;
    background: rgb(51, 102, 255);
    border: rgb(51, 102, 255) solid 1px;
    color: #ffffff;
    border-radius: .375rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    /* width: ; */
}

.created-chance-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: rgb(67 90 111 / 30%) 0px 0px 1px, rgb(67 90 111 / 47%) 0px 2px 4px -2px;
    box-sizing: border-box;
    border-radius: .375rem;
    width: 100%;
    height: 628px;
}

.created-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
}

.search-box {
    height: 32px;
    width: 280px;
    border: rgb(216, 218, 229) solid 1px;
    background: #F8F9FA;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.search-icon {
    padding-left: 8px;
    align-items: center;
}

.search-icon svg {
    fill: rgb(105, 111, 140);
}

.search-box input {
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    font-weight: 400;
    padding: 0px 12px 0px 10px;
    width: 100%;
    height: auto;
    color: rgb(105, 111, 140);
}

.group-titles , .created-chance {
    display: flex;
    flex-direction: row;
    border-bottom : 0.5px solid #e5e5ea;
}
.chance-title {
    height: 40px;
    padding: 10px;
}
.chance-title p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8e8e93;
}

.name-1 {
    width: 200px;
}

.phoneNum-2 {
    width: 120px;
}

.service-3 {
    width: 353px;
}

.creater-4 {
    width: 100px;
}

.createTime-5 {
    width: 150px;
}

.action-6 {
    width: 120px;
    text-align: center;
}

.created-item {
    height: 46px;
    padding: 13px 10px;
}

.created-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #575757;
}

.created-item.name-1 p {
    font-weight: 600;
}

.pagination {
    height: 48px;
    width: auto;
    padding: 16px 481px 0px 481px;
    
}

